#str
{
  background-image: url("https://i.pinimg.com/originals/0d/ac/17/0dac171e7c44e5baea36c0de982f5025.jpg");
}

#chat 
{
  color: #f200fa;
  background-color: #290671;   /* #8506A9 */
  color-interpolation-filters: linearRGB;
  width: 500px;
  height: 600px;
  border-radius: 15px;
  overflow-y: scroll;
  text-align: left;
}

.me 
{
  color: #ffdd00;
  background-color: #7e5423;
  color-interpolation-filters: linearRGB;
  border-radius: 3px;
  display: inline-block;
  text-align: right;
  padding: 5px;
  margin: 10px 4px;
  border-bottom-right-radius: 10px;
  /* transform: translate(400px, 0px); */
}

.bratan
{
  color: #E5FB00;
  background-color: rgb(34, 34, 10);
  color-interpolation-filters: linearRGB;
  border-radius: 3px;
  display: inline-block;
  text-align: left;
  padding: 5px;
  margin: 10px 4px;
  /* transform: translate(-450px, 20px); */
  z-index: 3;
}

.labe 
{
  color: #E5FB00;
  background-color: #7e5423;
  color-interpolation-filters: linearRGB;
  border-radius: 3px;
}

.titl 
{
  color: #E5FB00;
  background-color: #7e5423;
  color-interpolation-filters: linearRGB;
  border-radius: 3px;
  display: inline-block;
}

.text 
{
  width: 150px;
  height: 47px;
}

.nam 
{
  color: rgb(36, 211, 13);
  color-interpolation-filters: linearRGB;
  border-radius: 3px;
  display: inline-block;
  padding: 0px;
  margin: 10px 4px;
  /* ransform: translate(-400px, 0px); */
}

button
{
  transition-duration: 0.4s;
  background-color: gray;
}

button:hover
{
  background-color: blueviolet;
  color: white;
}